@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin: 0 1rem;

  @include desktop {
    margin: 0 5.5rem;
  }
  &::after {
    content: "";
    @include desktop {
      position: absolute;
      background-color: rgba(70, 70, 70, 0.315);
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &--desktop {
    background-color: $white;
    border-radius: 0.9375rem;
    padding: 8px;
    @include tablet{
      padding: 16px;
    }
    @include desktop {
      display: flex;
      width: 100%;
      background-color: $white;
      border-radius: 0.9375rem;
      justify-content: center;
      padding: 1.5rem;
      gap: 3.5rem;
    }
  }
  &__heading {
    border-radius: 0.3125rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
    @include desktop {
      font-size: 2rem;
    }
  }
  &__subheading {
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
    @include desktop {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      width: 60%;
    }
  }
  &__dropbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    margin-top: 0.5rem;
    height: 18.75rem;
    width: 15.625rem;
    border-radius: 3.125rem;
    padding: 1rem;
    border: 0.0625rem dashed $deep-orange;
    background-color: rgba($light-orange, 0.3);
    @include tablet {
      width: 50vw;
    }
    &-instructions {
      font-size: 0.75rem;
    }
    @include desktop {
      width: 31.25rem;
      height: 25rem;
    }
  }

  &__icon {
    width: 1.875rem;
    height: 1.875rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-link {
      display: block;
      &--hidden {
        display: none;
      }
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @include desktop {
      width: 60%;
      max-width: 600px;
    }
  }
  &__button {
    margin-top: 1rem;
    height: 2.1875rem;
    border-radius: 0.3125rem;
    border: none;
    color: $white;
    font-weight: 600;
    background-color: $deep-orange;
    border: 1px solid rgb(255, 255, 255);
  }
  &-preview {
    @extend .upload__dropbox;
    background-position: center;
    background-size: cover;
    &__button {
      @extend .upload__button;
      padding: 0.5rem;
      width: 100%;
      transition: 0.5s ease-in-out;
    }
  }
}
label {
  font-size: 0.75rem;
  color: rgb(0, 0, 0);
  margin: 0.25rem 0;
}
input,
textarea,
select {
  border-radius: 0.3125rem;
  padding: 0.5rem;
  border: 0.0625rem solid grey;
  @include desktop {
    margin-bottom: 8px;
  }
}
