@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.quotes {
  width: 100vw;
  margin: 0.5rem 0;
  &__slider {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 7.8rem;
      border-top: 1px solid rgba(70, 70, 70, 0.315);
    align-items: center;
    &-quote {
      margin-top: 1rem;;
      font-size: 1.375rem;
    }
    &-author {
      margin-top: 0.25rem;
      font-size: 11px;
    }
  }
}
.quotes__slider-item--active {
  color: $deep-orange;
}
