@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.quotes {
  width: 100vw;
  padding: 24px;
  margin: 8px 0;
  &__slider {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 7.8rem;
    align-items: center;
    &-quote {
      font-size: 1.375rem;
    }
    &-author {
        margin-top: 4px;;
        font-size: 11px;
      }
  }
}
.quotes__slider-item--active {
  color: $deep-orange;
}
