@use "variables" as *;
@use "mixins" as *;

.content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  &__heading {
    align-self: center;
    margin: 1rem;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 3rem;
      max-width: 80rem;
    }
      &::after {
      content: "";
      @include desktop {
        position: absolute;
        background-color: rgba(70, 70, 70, 0.315);
        width: 1px;
        height: 100%;
        top:-8px;
        right: 0;
      }
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: $white;
    padding: 1.5rem 1rem;
    border-radius: 0.3125rem;

    @include desktop {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-bottom: 1.5rem;
      padding: 3rem 3.5rem 2rem 3.5rem;
    }
  }
  &__category {
    margin: 0.5rem 0;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $deep-orange;
  }
  &__headline {
    word-wrap: break-word;
    text-decoration: none;
    letter-spacing: normal;
    color: $deep-orange;
    font-style: normal;
    font-stretch: normal;
    @include desktop {
      font-weight: 800;
      color: #2d2d2d;
      font-size: 24px;
      line-height: 1.15;
    }
  }
  &__author {
    margin: 0.5rem 0;
    @include desktop {
      font-size: 16px;
      font-weight: normal;
      color: #6d7278;
      line-height: normal;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  &__description {
    margin: 1rem 0;
    @include desktop {
      font-size: 1.3125rem;
      font-weight: normal;
      color: #191919;
      line-height: 1.8125rem;
      margin: 1.5rem;
    }
  }
  &-interactions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  &-deleteIcon {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    padding: 0.125rem;
    border-radius: 1.5625rem;
    cursor: pointer;
    @include desktop {
      width: 3rem;
      height: 3rem;
    }
    &--hidden {
      display: none;
    }
  }
  &-likeIcon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    bottom: -37.5rem;
    @include desktop {
      width: 2.5rem;
      height: 2.5rem;
      bottom: -37.5rem;
    }
  }
}
