@use "./fonts" as *;
@use "mixins" as *;
@use "variables" as *;
@use "animations" as *;
@use "./components" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", serif;
 // overflow-x: hidden;
}
body{
  background-color: #1f1f1f;;
 
}
.mode-text{
  margin:0.5rem;
  font-size: 0.75rem;
  color: $light-orange;
  font-weight: 500;

}

.light-mode-icon{
  width:30px;
}
.loading{
  margin: 50vh auto;
  width: 100%;
  border: 1rem solid #00000079;
  border-radius: 50%;
  border-top: 1rem solid $deep-orange;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}