@use "./fonts" as *;
@use "mixins" as *;
@use "variables" as *;
@use "animations" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", serif;
}

.mode-text{
  margin:0.5rem;
  font-size: 0.75rem;
  color: $light-orange;
  font-weight: 500;

}

.light-mode-icon{
  width:30px;
}