@use './variables' as *;

/*Type Kit*/

//This mixin will output the values needed to create the text style for multiple sections on the webpage.
@mixin typeKit ($text-size,$line-height, $text-weight){
    font-size:$text-size;
    line-height: $line-height;
    font-weight: $text-weight;
}

/*Media Queries*/
@mixin tablet {
    @media screen and (min-width: $tablet-min-width){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-min-width){
        @content;
    }
}