@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  width: 100vw;
  height: 18.75rem;
  @include desktop {
    height: 43.75rem;
  }
  &__slider {
    position: relative;
    width: 100vw;
    height: 18.75rem;
    &-overlay {
      position: absolute;
      width: 100vw;
      height: 18.75rem;
      background-color: rgba(3, 3, 3, 0.5);
      z-index: 2;
      @include desktop {
        height: 43.75rem;
      }
    }

    &-highlights {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 18.75rem;
      display: flex;
      align-items: flex-end;
      z-index: 1;
      @include desktop {
        height: 43.75rem;
      }
    }
    &-text {
      position: absolute;
      color: $white;
      bottom: 20%;
      font-size: 22px;
      padding-left:2rem;
      z-index: 100;
      width:1024px;
      max-width: 1024px;
      @include desktop {
        font-size: 64px;
        padding-left: 6rem;
        width: 80%;
        top:300px;
      }
    }
  }
  &__btns {
    position: absolute;
    padding: 0 16px;
    top: 25%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      top: 300px;
    }
  }
  #previous,
  #next {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff5;
    color: $white;
    cursor: pointer;
    z-index: 100;
    @include desktop {
      width: 4rem;
      height: 4rem;
    }
  }
}
