@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.category {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 6rem;
    height: 9.375rem;
    border: 2px solid $deep-orange;
    background-color: $white;
    border-radius: 0.3125rem;
    
  }
}
