@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.category {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 96px;
    height: 9.375rem;
    border: 2px solid $deep-orange;
    background-color: $white;
    border-radius: 5px;
    
  }

  &__heading {
    @include desktop {
      color: rgb(255, 102, 0);;
      font-size:48px;
      align-self:c ;
      line-height: 1.15;
      padding: 0 96px;
      width: 100%;
      text-align: center;
    }
  }
}
