@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  @include desktop {
    display: flex;
    padding: 0 6rem;
    gap: 24px;
  }

  &-container {
    @include desktop {
      display: flex;
      width: 75%;
      background-color: $light-orange;
      border-radius: 5px;
    }
  }
}
.side-container {
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 25%;
    //background-color: $deep-orange;
    border-radius: 5px;
  }
}
.newsletter{
  background-color:rgb(255, 102, 0);
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 24px;
 
  color: $white;
  &__text{
    font-weight: 700;
  }
  &__input{
    margin-top: 16px;
    flex-grow: 1;
    padding-left: 8px;;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2.1875rem;
  }
}

.trends{
  background-color: green;
  margin: 24px 0;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @include desktop {
    padding: 0 96px;
    align-items: flex-start;
  }

  &__heading {
    margin-bottom: 16px;
    color: $deep-orange;
    @include desktop {
      font-size: 32px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    list-style: none;
    width: 100%;
    border: 1px solid $deep-orange;
    padding: 4px 8px;
    border-radius: 20px;
    &-item {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;

        width: 100px;
        height: 15px;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $white;
  }
}
