@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  @include desktop {
    margin: 0 auto;
    display: flex;
    padding: 0 8rem;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
      max-width: 80rem;
  }

  &-container {
    @include desktop {
      display: flex;
      width: 75%;
      border-radius: 5px;
      border-right: 1px solid rgba(70, 70, 70, 0.315);
    
    }
  }
}
.side-container {
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 6.25rem;
    border-radius: 0.3125rem;
  }
}
.newsletter {
  background-color: rgb(255, 102, 0);
  border-radius: 0.3125rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;

  color: $white;
  &__text {
    font-weight: 700;
  }
  &__input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow: 1;
    padding-left: 0.5rem;
    border: none;
    border-radius: 0.3125rem;
    width: 100%;
    height: 2.1875rem;
  }
}

.trends {
  background-color: green;
  margin: 24px 0;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @include desktop {
    padding: 0 96px;
    align-items: flex-start;
  }

  &__heading {
    margin-bottom: 16px;
    color: $deep-orange;
    @include desktop {
      font-size: 32px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    list-style: none;
    width: 100%;
    border: 1px solid $deep-orange;
    padding: 4px 8px;
    border-radius: 20px;
    &-item {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;

        width: 100px;
        height: 15px;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $white;
  }
}
