@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  width: 100vw;
  height: auto;
  &__slider {
    position: relative;
    width: 100vw;
    height: auto;

    &-item {
      
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 200px;
      display: flex;
      align-items: flex-end;
    }
    &-text{
        color: $white;
        font-size: 18px;
        padding: 0 0 16px 16px;
        background-color:  #fff5;;
    }
  }
  &__btns {
    position: absolute;
    padding: 0 16px;
    top: 35%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #previous,
  #next {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff5;
    color: $white;
    cursor: pointer;
  }
}
