@use "./fonts" as *;
@use "mixins" as *;
@use "variables" as *;
@use "animations" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", serif;
}

.mode-text{
  margin:8px;
  font-size: 10px;
  color: $light-orange;
  font-weight: 500;

}